<% if current_user == @meeting.teacher %>
  <% if @meeting.approved_message? %>
    <div class="chat-text2">
      <div class="chat2">
        <%= @meeting.approved_message %>
      </div>
      <%= cl_image_tag @meeting.teacher.photo.path, class: 'avatar' %>
    </div>
  <% end %>
  <% if @meeting.message? %>
    <div class="chat-text">
      <%= cl_image_tag @meeting.student.photo.path, class: 'avatar' %>
      <div class="chat1">
        <%= @meeting.message %>
      </div>
    </div>
  <% end %>
<% elsif current_user == @meeting.student %>
  <% if @meeting.approved_message? %>
    <div class="chat-text2">
      <div class="chat2">
        <%= @meeting.approved_message %>
      </div>
      <%= cl_image_tag @meeting.student.photo.path, class: 'avatar' %>
    </div>
  <% end %>
  <% if @meeting.message? %>
    <div class="chat-text">
      <%= cl_image_tag @meeting.teacher.photo.path, class: 'avatar' %>
      <div class="chat1">
        <%= @meeting.message %>
      </div>
    </div>
  <% end %>
<% end %>
