<div class="chatbox">
  <% if @meeting.approved_message? %>
    <div class="chat-text">
      <%= cl_image_tag @meeting.teacher.photo.path, class: 'avatar' %>
      <div class="chat1">
        <%= @meeting.approved_message %>
      </div>
    </div>
  <% end %>
  <% if @meeting.message? %>
    <div class="chat-text2">
      <div class="chat2">
        <%= @meeting.message %>
      </div>
      <%= cl_image_tag @meeting.student.photo.path, class: 'avatar' %>
    </div>
  <% end %>

  <% @chats.each do |chat| %>
    <% if @meeting.teacher == chat.user %>
      <div class="chat-text">
        <%= cl_image_tag @meeting.teacher.photo.path, class: 'avatar' %>
        <div class="chat1">
          <%= chat.content %>
        </div>
      </div>
    <% elsif @meeting.student == chat.user %>
      <div class="chat-text2">
        <div class="chat2">
          <%= chat.content %>
        </div>
        <%= cl_image_tag @meeting.student.photo.path, class: 'avatar' %>
      </div>
    <% end %>
  <% end %>
  </div>
  <div class="form-chat">
    <%= simple_form_for [@meeting, @chat], remote: true do |f| %>
      <%= f.input :content, label: false %>
      <%= f.submit "Send", class: 'btn btn-info pull-right' %>
    <% end %>
  </div>
</div>
ss
