<h2 class="text-center">New knowledge</h2>

<div class="container">
  <div class="row">
    <% @meetings_studend.each do |meeting|  %>
      <div class="col-sm-6">
        <div class="meeting-info marged">
          <h3><%= meeting.skill.name %> with <%= meeting.teacher.first_name %></h3>
          <%= meeting.happen_at %>
          <p><strong>Message:</strong> <%= meeting.message %></p>
            <%= raw(status(meeting.approved_at, meeting.rejected_at)) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2 class="text-center">Share your knowledge</h2>

<div class="container">
  <div class="row">
    <% @meetings_teacher.each do |meeting| %>
      <div class="col-sm-6">
        <div class="meeting-progress marged">
          <%= meeting.skill.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
