<h2 class="text-center meeting-h2">New knowledges</h2>

<div class="container">
  <div class="row">
    <% @meetings_studend.each do |meeting|  %>
      <div class="col-sm-6">
        <div class="meeting-info marged">
          <div class="meeting-name"><%= meeting.teacher.first_name %> <%= meeting.teacher.last_name %></div>
          <div class="meeting-created-date"><%= meeting.created_at.strftime('%A %d %b') %></div>
          <div class="meeting-date"><%= meeting.happen_at.strftime('%A %d %b') %></div>
          <p class="meeting-message"><%= meeting.message %></p>
            <div class="status"><%= raw(status(meeting.approved_at, meeting.rejected_at)) %></div>
          <span class="meeting-title"><%= meeting.skill.name %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h2 class="text-center meeting-h2">Share your knowledge</h2>

<div class="container">
  <div class="row">
    <% @meetings_teacher.each do |meeting|  %>
      <div class="col-sm-6">
        <div class="meeting-progress marged">
          <div class="meeting-name"><%= meeting.student.first_name %> <%= meeting.student.last_name %></div>
          <div class="meeting-created-date"><%= meeting.created_at.strftime('%A %d %b') %></div>
          <div class="meeting-date"><%= meeting.happen_at.strftime('%A %d %b') %></div>
          <p class="meeting-message"><%= meeting.message %></p>
            <% if meeting.approved_at.nil? && meeting.rejected_at.nil? %>
              <div class="status">
                  <%= simple_form_for :rejected, url: rejected_meeting_path(meeting), method: :patch, class: 'inline' do |f| %>
                    <%= f.submit 'Reject', class: 'btn btn-danger btn-xs' %>
                  <% end %>
                  <%= simple_form_for :approved, url: approved_meeting_path(meeting), method: :patch, class: 'inline' do |f| %>
                    <%= f.submit 'Approve', class: 'btn btn-success btn-xs' %>
                  <% end %>
              </div>
            <% else %>
              <div class="status">
                <%= raw(status(meeting.approved_at, meeting.rejected_at)) %>
              </div>
            <% end %>
          <span class="meeting-title"><%= meeting.skill.name %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
