
<div class="container">
<h3 class="text-center"> Your meeting requests </h3>
<ul class="nav nav-tabs">
    <li class="active tab-link"><a data-toggle="tab" href="#sectionA">Contacted agorians</a></li>
    <li class="tab-link"><a data-toggle="tab" href="#sectionB">Agorians who contacted you</a></li>
    <li class="tab-link"><a data-toggle="tab" href="#sectionC">Archive</a></li>
</ul>

<div class="tab-content">
    <div id="sectionA" class="tab-pane fade in active">
      <div class="container padded">
        <div class="row">
          <% @meetings_student.each do |meeting|  %>
            <div class="col-sm-6">
              <div class="contacted-bg">
                <div class="meeting-info">
                  <div class="meeting-name"><%= link_to "#{meeting.teacher.first_name} #{meeting.teacher.last_name}", teacher_path(meeting.teacher) %> <span class="italized-email">(<%= meeting.teacher.email %>)</span></div>
                  <div class="meeting-created-date"><%= "#{time_ago_in_words(meeting.created_at.strftime('%A %d %b'))} ago" %></div>
                  <div class="meeting-date">
                    <span class="label-date">Proposed date</span><br>
                    <%= meeting.happen_at.strftime('%A %d %b') %>
                  </div>
                  <div class="status"><%= raw(status(meeting.approved_at, meeting.rejected_at)) %></div>
                  <div class="validate-link">
                    <%= link_to dont_forget(meeting), meeting_path(meeting) %>
                  </div>
                  <span class="meeting-title"><%= meeting.skill.name %></span>
                </div>
                <div class="wrap-message marged">
                  <div class="meeting-message">
                    <span class="message-title">Your message to <%= meeting.teacher.first_name %></span><br>
                    <%= meeting.message %>
                  </div>
                  <div class="meeting-approved-message">
                    <span class="message-title"><%= meeting.teacher.first_name %>'s answer</span><br>
                    <%= meeting.approved_message %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div id="sectionB" class="tab-pane fade">
      <div class="container padded">
        <div class="row">
          <% @meetings_teacher.each do |meeting|  %>
            <div class="col-sm-6">
              <div class="contacted-by-bg">
                <div class="meeting-progress">
                  <div class="meeting-name"><%= link_to "#{meeting.student.first_name} #{meeting.student.last_name}", teacher_path(meeting.teacher) %> <span class="italized-email">(<%= meeting.student.email %>)</span></div>
                  <div class="meeting-created-date"><%= "#{time_ago_in_words(meeting.created_at.strftime('%A %d %b'))} ago" %></div>
                  <div class="meeting-date">
                    <span class="label-date">Proposed date</span><br>
                    <%= meeting.happen_at.strftime('%A %d %b') %>
                  </div>
                   <% if meeting.approved_at.nil? && meeting.rejected_at.nil? %>

                      <div class="approved-btn">
                        <%= simple_form_for :change_status, url: status_meeting_path(meeting), method: :patch do |f| %>
                          <%= f.input :approved_message, label: false, placeholder: "Message for teacher" %>
                          <%= f.submit :status, value: 'Confirm', class: 'btn btn-success btn-xs pull-right' %>
                          <div class="rejected-btn">
                            <%= f.submit :status, value: 'Reject', class: 'btn btn-danger btn-xs' %>
                          </div>
                        <% end %>
                      </div>

                    <% else %>
                      <div class="status">
                        <%= raw(status(meeting.approved_at, meeting.rejected_at)) %>
                      </div>
                      <div class="validate-link">
                        <%= link_to dont_forget(meeting), meeting_path(meeting) %>
                      </div>
                    <% end %>
                  <span class="meeting-title"><%= meeting.skill.name %></span>
                </div>
                <div class="wrap-message marged">
                  <div class="meeting-message">
                    <span class="message-title">Message from <%= meeting.teacher.first_name %></span><br>
                    <%= meeting.message %>
                  </div>
                  <div class="meeting-approved-message">
                    <span class="message-title">Your answer</span><br>
                    <%= meeting.approved_message %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

