<div class="wrapper-meeting-card text-center">
  <div class="meeting-card">
    <%= cl_image_tag @meeting.teacher.photo.path, class: "avatar-large" %>
    <h2 class="meeting-h2"><%= link_to "#{@meeting.teacher.first_name} #{@meeting.teacher.last_name}", teacher_path(@meeting.teacher) %></h2>
    <p><%= @meeting.teacher.mendie.balance %> Mendies</p>
  </div>
  <div>
    Share <span class="skill_back"><%= @meeting.skill.name %></span> with
    <p><%= raw(status(@meeting.approved_at, @meeting.rejected_at)) %></p><br>
    <p class="italized"><%= @meeting.happen_at.strftime('%A %d %b') %></p>
    <% if @meeting.validate? %>
      <span class="minimalized">Validated</span>
    <% elsif current_user.can_validate?(@meeting) %>
      <span class="minimalized">Did the meeting take place?</span><br>
      <%= link_to "Confirm Meeting", validation_meeting_path(@meeting), method: :patch, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="meeting-card">
    <%= cl_image_tag @meeting.student.photo.path, class: "avatar-large" %>
    <h2 class="meeting-h2"><%= link_to "#{@meeting.student.first_name} #{@meeting.student.last_name}", teacher_path(@meeting.student) %></h2>
    <p><%= @meeting.student.mendie.balance %> Mendies</p>
  </div>
</div>

<div class="wrapper-chatbox">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-3 col-xs-6">
        <% if @meeting.student?(current_user) %>
          <%= render 'meetings/meeting_chat_student' %>
        <% elsif @meeting.teacher?(current_user) %>
          <%= render 'meetings/meeting_chat_teacher' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for :after_js do %>
<script>
  var current_user_id = <%= current_user.id %>;
  App.messages = App.cable.subscriptions.create(
    {
      channel: 'ChatChannel',
      meeting_room: "meeting_<%= @meeting.id %>"
    },
    {
      connected: function() {
        console.log("[CONNECTED]");
      },
      received: function(data) {
        console.log(data.content);
        $("#messages").removeClass('hidden')
        return $('#messages').append(this.renderMessage(data));
      },
      renderMessage: function(data) {
        return "<p> <b>" + data.user + ": </b>" + data.message + "</p>";
      }
    }
  );
</script>
<% end %>
