<div class="container">
  <div class="row">
      <h2><% @teachers.each do |user| %></h2>
        <div class="col-xs-6 col-sm-4">
          <%= link_to teacher_path(user) do %>
            <div class="teacher">
              <div class="profile-teacher">
                <% photos = ["http://diffusionph.cccommunication.biz/jpgok/RepGR/150/150100_13.jpg", "http://kpitalrisk.free.fr/images/stars/56000/s_56548166337_1.jpg", "http://img0.gtsstatic.com/serie/karadoc_174552_w620.jpg"] %>
                <%= image_tag photos.sample, class: 'avatar-big' %>
              </div>
              <div class="name">
                <%= user.first_name %>
              </div>
              <div class="address">
                <%= user.address %>
              </div>
              <% user.own_skills.each do |skill| %>
                <div>
                  He want to learn : <%= skill.name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>


