<div class="container">
  <div class="row">
      <h2><% @teachers.each do |user| %></h2>
        <div class="col-xs-6 col-sm-4">
          <%= link_to teacher_path(user) do %>
            <div class="teacher">
              <div class="profile-teacher">
                <%= cl_image_tag user.photo.path, class: "avatar-big" %>
              </div>
              <div class="name">
                <%= user.first_name %>
              </div>
              <div class="address">
                <%= user.address %>
              </div>
              <% user.own_skills.each do |skill| %>
                <div class="skill">
                  <%= emoji(skill.name) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>


