<div class="container padded">
  <div class="teacher-info">
    <h1> <img src="https://placehold.it/350x350" class="avatar-large">  <%= @teacher.first_name %></h1>
    <%= link_to "Contact this teacher", "#", class: "btn btn-primary" %>
    <div class="bio">
      <h3>Bio</h3>
      <p><%= @teacher.bio %></p>
    </div>
  </div>
  <div class="skills">
    <h2> My skills </h2>
    <% @teacher.own_skills.each do |skill| %>
      <p><%= skill.name %></p>
    <% end %>
    <h2> I want to learn... </h2>
    <% @teacher.wanted_skills.each do |skill| %>
      <p><%= skill.name %></p>
    <% end %>
  </div>

  <div class="meeting">
    <h2>Contact this teacher</h2>
    <%= render 'shared/meeting_form' %>
  </div>

  <div class="reviews">
    <h2>  <%= @teacher.first_name %> Reviews</h2>
  </div>

  <div>
    <%= render "shared/review_form" %>
  </div>

  <% reviews = @teacher.reviews_received.sort_by { |review| review.created_at }.reverse %>
  <% reviews.each do |review| %>
    <div>
      <p><%= "â­" * review.rating %></p>
      <p><strong><%= User.find(review.student_id).first_name %></strong></p>
      <p><%= review.content %></p>
      <p>Created at : <%= review.created_at.strftime("%b, %d %Y ") %></p>
    </div>
  <% end %>

</div>
